.sf-contener, .sf-menu {width:1002px;/* background:#efefef url(../img/menu-bg.png) 0 0 repeat-x;*/ overflow:hidden;}
.sf-menu {line-height:1.8}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {z-index:1000;}
.sf-menu a {font-size:9px}
.sf-menu p {vertical-align: 40px}
.sf-menu li li, .sf-menu li li li {background:#ffffff;}
.sf-menu ul li:hover, .sf-menu ul li.sfHover, .sf-menu ul li a:focus, .sf-menu ul li a:hover, .sf-menu ul li a:active {background:#df000f;}
.sf-menu ul {width: 13em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 13em;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {left: 13em;}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {left: 13em;}
.sf-menu a, .sf-menu a:visited  {color:#000039;font-weight:bold;}
.sf-menu a:hover  { background-color: #EFEFEF; color: #df000f;font-weight: bolder; }
