<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blockvariouslinks</name>
	<displayName><![CDATA[Footer links block--]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Displays miscellaneous links (generally in footer)--]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[Blocks]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>