<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ddlx_xtreme_footer</name>
	<displayName><![CDATA[Xtreme footer light]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Enhanced footer (displays links in the footer, payment logos and links to social networks)]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[DDLX modules]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>