/* slideshow gallery */

.slideshowlite {
	position: relative;
	overflow: hidden;
}

.slideshowlite a {position:absolute;z-index:1;width:970px;height:362px;text-align:left;}

	.slideshowlite img {
		border: none;
	}

/* pagination control */

.slideshowlite ul,
.slideshowlite ol {width:57px;height:17px;list-style:none;position:absolute;margin:0;padding:0;bottom:9px;right:8px;z-index:1000;}

.slideshowlite ul li,
.slideshowlite ol li {float:left;width:17px;height:17px;margin:0 2px 0 0;}
	
.slideshowlite ul li a {width:17px;height:0;padding:17px 0 0 0;overflow:hidden;display:block;background:#fff;}
	
.slideshowlite ul li a.current,
.slideshowlite ul li a:hover {background:#ff4f03;cursor:pointer;}
	
/* caption control */

.slideshowlite ol {
	top: 5px;
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 14px;
	color: #fff;
	background: #000;
	padding: 3px 10px;
}

	.slideshowlite ol li {
		width: 100%;
	}

.slide_title {width:216px;height:67px !important;display:block;padding:28px 0 0 754px;background:none;position:absolute;left:0;bottom:0;z-index:100;}
.slide_title a {width:182px;height:0;padding:41px 0 0 0;overflow:hidden;display:block;}